.mat-card-wrapper {
    position: relative;

    .home-card-overlay {
      position: absolute;
      top: 5%;
      left: 5%;
      color: white;
      font-size: 34px;
    //   font-family: 'Mina', sans-serif;
      font-family: 'Shadows Into Light', cursive;
    }

}
